* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  position: relative;
  overflow: hidden;
}
#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
#page > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: absolute;
  height: 10%;
  width: 100%;
  z-index: 9%;
  /* background-color: red; */
}
.center-nav {
  display: flex;
  gap: 20px;
}
.center-nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
}
nav input {
  padding: 10px 5px;
  border-radius: 10px;
  border: 2px solid #faf3f3;
  text-transform: uppercase;
}
.text {
  padding: 30px 50px;
  position: relative;
  top: 15%;
  left: 5%;
  height: 75%;
  width: 35%;
  background-color: red;
}
.text > h1 {
  margin-top: 20px;
  font-size: 60px;
  line-height: 1;
}
.text > h4 {
  margin-top: 20px;
  color: #2b2b2b;
  font-size: 17px;
  font-weight: 500;
}
.text > h5 {
  color: #8873ef;
  transform: rotate(-20deg);
  position: absolute;
  left: 7%;
}
#page > img {
  position: absolute;
  right: 5%;
  top: 52%;
  transform: translateY(-50%);
  width: 40%;
}
nav > img {
  width: 6vw;
}
#page1 {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}
